@mixin center() {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@mixin textellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
